<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connection.Properties.Settings.lc8884lConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=lc8884l;Persist Security Info=True;User ID=lc8884l;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>