<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connection.Properties.Settings.lb6972qConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=lb6972q;Persist Security Info=True;User ID=lb6972q;Password=!1SQLServer"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>